$break-phone: 768px;
$break-tablet: 1024px;

.School__card {
  margin: 35px 35px 35px 0;
  border: 1px solid $light-blue;
  border-radius: 3px;
  width: 360px;
  transition: transform .3s;
  img{
    height: 240px;
    width: 100%;
    object-fit: contain;
  }
}

.SchoolCard__line{
  @include flexBox(row, flex-start, center);
  flex-wrap: wrap;
  span{
    margin-left: 5px;
  }
}

.School__card_title {
  padding: 15px;
  top: 25px;
  left: 25px;
  color: $orange;
}

.School__card_footer {
  @include flexBox(column, center, flex-start);
  padding: 15px;
}

.SchoolCard__button{
  padding: 10px 20px;
  background: $orange;
  color: white;
  transition: opacity 0.3s;
  margin: 10px;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  align-self: center;
  &:hover{
      cursor: pointer;
      opacity: .9;
  }
}

@media screen and (max-width: 500px){
  .School__card{
    margin: 35px 0;
  }
}
