$break-phone: 768px;
$break-tablet: 1024px;

.School__card {
  margin: 25px;
  border: 1px solid $light-blue;
  border-radius: 3px;
  width: 360px;
  height: 540px;
  transition: transform .3s;
  img{
    height: 240px;
    width: 100%;
    object-fit: cover;
  }
}

.SchoolCard__line{
  @include flexBox(row, flex-start, center);
  flex-wrap: wrap;
  span{
    margin-left: 5px;
  }
}

.School__card_title {
  white-space: nowrap;
  padding: 15px;
  top: 25px;
  left: 25px;
  color: $orange;
}

.School__card_footer {
  @include flexBox(column, center, flex-start);
  padding: 15px;
}
