.Dashboard__container{
  margin-top: 100px;
  padding: 0 50px;
  svg{
    margin: 0 15px;
  }
  h2 {
    color: $blue;
    margin: 50px 0;
    font-size: xx-large;
  }
}

.Dashboard__item{
  @include flexBox(column, flex-start, flex-start);
  color: $blue;
  padding: 15px;
  border: 1px solid $blue;
  border-radius: 3px;
  margin: 15px;
  width: 100%;
}

.Dashboard__header{
  @include flexBox(row, flex-start, flex-end);
  width: 100%;
  padding: 50px;
  margin: 15px;
  border: 1px solid $blue;
  border-radius: 3px;
  background: $light-blue;
  font-size: 40px;
  font-weight: bold;
}

.Dashboard__item_header{
  @include flexBox(row, flex-start, center);
  width: 100%;
  padding: 15px 0;
  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}

.Dashboard__speciality{
  margin-left: 8px;
}

.Dashboard__status{
  color: $orange;
  margin-left: auto;
}

.Dashboard__body{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 15px 0 15px 15px;
  border-top: 1px solid $blue;
  &.Dashboard__body--hidden{
    display: none;
  }
}

.Dashboard__delete_button{
  align-self: center;
  margin-left: auto;
  padding: 10px;
  border-radius: 3px;
  background: $orange;
  color: white;
  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}

@media screen and (max-width: 500px){
  .Dashboard__container{
    padding: 0;
    svg{
      margin: 0;
    }
  }

  .Dashboard__header{
    margin: 0;
  }

  .Dashboard__item{
    margin: 15px 0 0 0;
  }

  .Dashboard__item_header{
    flex-direction: column;
    align-items: flex-start;
  }

  .Dashboard__speciality{
    margin: 0;
  }

  .Dashboard__status{
    margin: 0;
  }

  .Dashboard__body{
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0 0 0;
  }

  .Dashboard__delete_button{
    margin: 10px 0 0 0;
  }
}
