$break-phone: 768px;
$break-tablet: 1024px;

.SchoolCards__title {
  margin: 125px 80px 25px 80px;
  color: $blue;
  font-size: xx-large;
  font-weight: bolder;
  @media screen and (max-width: $break-phone) {
    font-size: large;
  }
}

.SchoolCards__container{
  @include flexBox(row, flex-start, center);
  flex-wrap: wrap;
  margin: 0 80px;
}