.SearchResults{
  margin-top: 100px;
  padding: 25px 80px;
}

.SearchResults__title{
  color: $blue;
}

.SearchResults__results{
  @include flexBox(row, flex-start, center);
  flex-wrap: wrap;
  margin-top: $l-size;
}