.UserProfile__container{
  margin-top: 80px;
}

.UserProfile__header{
  @include flexBox(row, center, center);
  padding: 25px 80px;
  color: $orange;
  background: $light-blue;
}

.UserProfile__picture{
  padding: 15px;
  border: 2px solid $blue;
  border-radius: 3px;
  img{
    height: 200px;
    width: 200px;
    object-fit: contain;
  }
}

.UserProfile__header--main_infos{
  @include flexBox(column, flex-start, flex-start);
  color: $orange;
  align-self: center;
  margin: 0 35px;
  span{
    color: $black;
  }
}

.UserProfile__title{
  font-size: 5rem;
}

.UserProfile__subtitle{
  font-size: 3rem;
  margin: 35px;
  color: $blue;
  width: 100%;
  text-align: center;
}

.UserProfile__body{
  @include flexBox(row, center, center);  
  flex-wrap: wrap;
  margin: 50px 80px;
}

.UserProfile__info{
  position: relative;
  width: max-content;
  margin: 30px;
  span{
    position: absolute;
    color: $orange;
    top: -25px;
    left: 0px;
    font-size: 15px;
  }
  input{
    background: white;
    &:hover{
      cursor: not-allowed;
    }
  }
}

.UserProfile__doc{
  color: $blue;
  @include flexBox(row, flex-start, center);
  span{
    color: $orange;
    margin-right: $s-size;
  }
}

@media screen and (max-width: 650px){
  .UserProfile__header{
    padding: 25px;
    justify-content: center;
    align-items: center;
  }

  .UserProfile__header--main_infos{
    text-align: center;
    align-items: center;
  }

  .UserProfile__picture{
    display: none;
  }


}