@import './variables.scss';
@import './mixins.scss';


.Sign__home_link{
  display: block;
  width: max-content;
  font-size: 1.5em;
  font-family: 'Quicksand', sans-serif;
  padding: 25px;
  color: $orange;
  &:hover{
    cursor: pointer;
    opacity: .8;
  }
}

.Sign__container{
  margin: 80px 50px;
  padding: 50px;
  text-align: center;
  @include flexBox(column, center, center);
  &::before{
    position: absolute;
    content: "";
    height : 0;
    width : 0;
    border-top : 20vh solid $light-blue;
    border-right : 100vw solid transparent;
    top: 0;
    z-index: -1;
  }
  &::after{
    position: absolute;
    content: "";
    height : 0;
    width : 0;
    border-bottom : 20vh solid $light-blue;
    border-left : 100vw solid transparent;
    bottom: 0;
    z-index: -1;
  }
}

.Sign__title{
  @include flexBox(row, flex-start, center);
  font-family: 'Montserrat', sans-serif;
  color: $orange;
  font-size: 3em;
  margin: 0 0 30px 0;
  .Sign__logo{
    max-height: 100px;
    margin-left: 50px;
    width: 100%;
  }
}

.Sign__input{
  margin: 15px 0;
  display: block;
  width: 100%;
  min-width: 500px;
}

.Sign__checkbox{
  @include flexBox(row, flex-start, center);
  text-align: left;
  color: $blue;
  input{
    min-width: 0;
  }
  label{
    margin-left: 15px;
  }
}

.Sign__button{
  margin: 30px 0 0 0;
  background: $orange;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  transition: opacity .3s;
  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}

@media screen and(max-width: 650px){
  .Sign__container{
    margin: 0;
    &::before{
      content: none;
    }
    &::after{
      content: none;
    }
  }

  .Sign__title{
    .Sign__logo{
      display: none;
    }
  }
  .Sign__input{
    min-width: 200px;
  }
}