@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Quicksand:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-size: $m-size;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: 1px solid #009cc5; /* $blue */
  border-radius: 3px;
  padding: $m-size;
  color: #009cc5;
  min-width: 300px;
  box-shadow: 0 0 2px #009cc530;
}

input::placeholder {
  color: #009cc5;
}
