// MAIN COLORS
$blue: #009cc5;
$orange: #eb6645;
$black: #1d1d1b;

// LIGHTEN COLORS
$light-blue: #009cc530;
$light-orange: #eb664530;
$light-black: #1d1d1b30;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Responsive
$break-phone: 768px;
$break-tablet: 1024px;
